<html>
	<head>
		<title>File Upload Labs</title>
		
		<link rel="stylesheet" href="/stylesheets/style.css"/>
		<link rel="stylesheet" href="/stylesheets/fileuploader.css"/>

		<script type="text/javascript" src="/javascripts/3rd/jquery-1.8.0.js"></script>
		<script type="text/javascript" src="/javascripts/fileuploader.js"></script>

		<script type="text/javascript">
			$(function(){
				var uploader = new qq.FileUploader({
					element: $('#file-uploader').get(0),
					action: '/upload',
					debug: true
				});

				uploader.onProgress = function(id, fileName, loaded, total) {
					console.log(JSON.stringify({
						id: id,
						fileName: fileName,
						loaded: loaded,
						total: total
					}));
				}
			});
		</script>
	</head>

	<body>
		<h1><%= title %></h1>
		<p>Welcome to <%= title %></p>

		<p>To upload a file, click on the button below. Drag-and-drop is supported in FF, Chrome.</p>
		<p>Progress-bar is supported in FF3.6+, Chrome6+, Safari4+</p>

		<div id="file-uploader"></div>
	</body>
</html>
